<header
  class="text-slate-50 py-3 px-6 flex justify-between items-center cursor-auto bg-slate-700 border-header"
>
  <h1 class="sm:text-3xl font-semibold select-none">Tamagotchi Web</h1>

  <nav class="flex gap-4 items-center">
    <a
      href="#"
      class="hover:scale-110 transition-transform duration-200"
      (click)="toggleConfiguration($event)"
    >
      <img src="assets/icon/configuration.png" alt="Config" class=" select-none" />
    </a>
  </nav>
</header>

<app-configuration-modal
  [isOpenConfiguration]="isOpenConfiguration"
  (toggleConfiguration)="handleModalToggle($event)"
>
</app-configuration-modal>
