<header
  class="text-[black] py-3 px-6 flex justify-between items-center cursor-auto sm:flex sm:flex-col gap-10"
>
  <h1 class="sm:text-2xl font-semibold select-none text-center console-name ">Mokito <br> web</h1>

  <nav class="flex gap-4 items-center">
    <a
      href="#"
      class="hover:scale-110 transition-transform duration-200"
      (click)="toggleConfiguration($event)"
    >
      <img src="assets/icon/configuration.png" alt="Config" class="select-none" />
    </a>
  </nav>
</header>

<app-configuration-modal
  [isOpenConfiguration]="isOpenConfiguration"
  (toggleConfiguration)="handleModalToggle($event)"
>
</app-configuration-modal>
