.color-option {
  cursor: pointer;
  position: relative;
  
  &.selected::after {
    content: '';
    background-image: url('/tamagotchi-web/assets/icon/check.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    pointer-events: none;
  }

  &:hover {
    opacity: 0.9;
  }
}