<div class="flex justify-center gap-3 pb-4 overflow-x-hidden h-full w-full ">
  @for (stat of stats; track $index) {
    <div
      class="bg-white aspect-square flex flex-col items-center justify-center w-1/6 max-w-[150px] p-[0.5em] pixel-box"
      [style.background-color]="getColor(stat.porcent)"
    >
      <img
        [src]="'/tamagotchi-web/assets/icon/stats/' + stat.name + '.png'"
        [alt]="stat.name"
        class="w-full h-full object-contain"
      />

      <span class="mt-1 text-sm sm:text-base">{{ roundStat(stat.porcent) }}%</span>
    </div>
  }
</div>
