<div class="flex justify-center gap-2 sm:gap-2 p-1 sm:p-4 w-full">
  @for (stat of stats; track $index) {
    <div
      class="bg-white aspect-square flex flex-col items-center justify-center p-1 sm:p-2 w-16 h-16 sm:w-28 sm:h-28 pixel-box-s"
      [style.background-color]="getColor(stat.porcent)"
    >
      <img
        [src]="'/tamagotchi-web/assets/icon/stats/' + stat.name + '.png'"
        [alt]="stat.name"
        class="w-full h-full object-contain"
      />

      <span class="mt-1 text-xs sm:text-sm md:text-base font-medium">
        {{ roundStat(stat.porcent) }}%
      </span>
    </div>
  }
</div>